<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.orgLinks to an external site.">
<head>
    <meta charset="UTF-8">
    <title>Instructor</title>
</head>
<body>

<h2>Add A Major</h2>

<form class="form-horizontal" action="#" th:action="@{/processMajor}"
      th:object="${addMajor}"  method="post">


    <ul th:each="co: ${options}">
        <li th:value="${co.id}">[[${co.name}]]</li>
    </ul>
    Department :  <select th:field="*{department}" class="form-control input-md">

    <table>
        <tr th:each="option: ${options}">
            <option th:value="${option.id}">[[${option.name}]]</option>
        </tr>
    </table>
</select>

    Major:  <input type="text" th:field="*{name}" class="form-control input-md" required=""/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>

    <button id="submit" name="submit" class="btn btn-success">Submit</button>

    <a href="/addsubject">add a subject</a><br>

</form>


</body>
</html>